/* BASE PAGE STYLES */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: transparent;
  font-family: Inter, sans-serif;
  height: 100%;
  letter-spacing: 1px;
}

body {
  background: #040039;
  background: -o-linear-gradient(0deg, #040039 0%, #00036a 100%) fixed;
  background: linear-gradient(0deg, #040039 0%, #00036a 100%) fixed;
  color: hsl(0, 0%, 0%);
  min-height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  padding: 0 20px;
  position: relative;
}

header {
  color: hsl(0, 0%, 100%);
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  padding-top: 30px;
  text-align: center;
}

main {
  padding-bottom: 6rem;
}

footer {
  background: hsl(0, 0%, 100%);
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: inherit;
  letter-spacing: 4px;
  line-height: 1.2;
}

h2 {
  font-size: 1.4rem;
  font-weight: inherit;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #896200;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

@media all and (min-width: 750px) {
  
  h1 {
    font-size: 2rem;
  }
}